html {
  font-family: "IBM Plex Sans", sans-serif;
}

img {
  max-width: 200px;
}

header {
  background-color: #ddd;
}

.nearest {
  background-color: #efefef;
}

.list-grid {
  width: 100%;
}

label {
  display: none;
}

.one,
.two,
.three {
  background-color: #fff;
  border-radius: 3px;
}

table {
  min-width: 200px;
}


th {
  width: 6em;
}

@media only screen and (min-width: 38em) {

  .th {
    width: 8em;
  }

}

@media only screen and (min-width: 60em) {

  .table-wrapper {
    overflow: visible;
  }

}
