html {
  font-family: "IBM Plex Sans", sans-serif;
}

img {
  width: 200px;
}

header {
  background-color: #ddd;
}

.nearest {
  background-color: #efefef
}

.one,
.two,
.three {
  background-color: #fff;
  border-radius: 3px;
}

th {
  width: 6em;
}

.type {
  width: 8em;
}

@media only screen and (min-width: 60em) {

  .table-wrapper {
    overflow: visible;
  }

}
